$white: #ffffff;
$black: #1a1a1a; 
$main-bg: #15141a;
$grey-bg: #f2f2f2;
$grey-text: #999999;
$grey-border: #4b4a4d;
$grey-table: #e0e0e0;
$grey-form: #606062;
$blue: #008ed6;

$desktop-width: 1200px;
$tablet-width: 992px;
$mobile-width: 768px;
